*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
.jet {
    height: 120px;
    width: 300px;
    position: absolute;
    /* border: 1px solid rgb(45, 125, 172); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    transform-style: preserve-3d;
}
.jet .top{
    margin-top: -20px;
    height: 0px;
    width: 0px;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 50px solid rgb(45, 125, 172);
    position: absolute;
    top: 65%;
    left: 85%;
    transform: translate(-50%,-50%) rotateZ(-90deg);
}
.jet .middle{
    height: 60px;
    width: 80px;
    position: absolute;
    background-color: rgb(45, 125, 172);
    position: absolute;
    top: 28px;
    right: 23.05%;
}
.jet .bott{
    margin-top: -20px;
    height: 0px;
    width: 0px;
    border-right: 55px solid transparent;
    border-left: 55px solid transparent;
    border-top: 50px solid rgb(45, 125, 172);
    position: absolute;
    top: 65%;
    left: 51%;
    transform: translate(-50%,-50%) rotateZ(-90deg);
}
.jet .glow{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px rgb(87, 124, 145),
    0 0 40px rgb(87, 124, 145),
    0 0 80px rgb(87, 124, 145),
    0 0 1000px rgb(87, 124, 145),
    0 0 2000px rgb(87, 124, 145),
    0 0 4000px rgb(87, 124, 145),
    0 0 8000px rgb(87, 124, 145);
    top: 50%;
    left: 65%;
    animation: glow 2s infinite;
}
@keyframes glow {
    0%,100%{
        box-shadow: 0 0 20px rgb(87, 124, 145),
        0 0 160px rgb(87, 124, 145),
        0 0 32px rgb(87, 124, 145),
        0 0 640px rgb(87, 124, 145),
        0 0 1000px rgb(87, 124, 145),
        0 0 2000px rgb(98, 190, 243),
        0 0 4000px rgb(134, 211, 255);
    }
    50%{
        box-shadow: 0 0 100px rgb(145, 89, 87);
    }
}