*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.r{
    top: 10%;
    left: 40%;
    position: absolute;
    transform: translate(-50%,50%);
    padding: 5px;
}
.r-2{
    left: 60%;
}
.area{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.area .car{
    height: 250px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(20deg) rotateY(0deg) rotateZ(0deg);
    border: 1px solid wheat;
    transform-style: preserve-3d
}
.area .car .top{
    height: 200px;
    width: 300px;
    position: absolute;
    transform: translate(-50%,-50%) rotateX(90deg);
    top: 50%;
    left: 50%;
    background-color: rgba(245, 222, 179, 0.179);
}